svg {
    cursor: default;
}

.viz-05-0 {
    fill: #F5F5F5;
}

.net {
    transition-duration: 0.5s;
}

.viz-05-1 {
    clip-path: url(#SVGID_2_);
    fill: none;
    stroke: #B1B1B1;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-2 {
    fill: none;
    stroke: #B1B1B1;
    stroke-width: 0.5;
    stroke-dasharray: 2;
}

.viz-05-3 {
    fill: none;
    stroke: #B1B1B1;
    stroke-width: 0.5;
}

.viz-05-4 {
    fill: #D9D9D9;
    stroke: #FFFFFF;
    stroke-width: 0.75;
}

.viz-05-5 {
    fill: none;
    stroke: #B1B1B1;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-6 {
    fill: #3C3C3B;
}

.viz-05-7 {
    font-family: 'HK Grotesk', sans-serif;
    font-weight: 300;
}

.viz-05-8 {
    font-size: 0.9em;
}

.viz-05-9 {
    font-family: 'HK Grotesk', sans-serif;
    font-weight: bold;
}

.viz-05-10 {
    fill: none;
    stroke: #3C3C3B;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.viz-05-11 {
    fill: none;
    stroke: #3C3C3B;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
    stroke-dasharray: 2.9685, 2.9685;
}

.viz-05-12 {
    fill: #FFFFFF;
}

.viz-05-13 {
    fill: none;
    stroke: #3C3C3B;
    stroke-width: 0.25;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.viz-05-14 {
    fill: #CD5156;
}

.viz-05-15 {
    fill: none;
}

.viz-05-16 {
    fill: #4171A3;
}

.viz-05-17 {
    fill: #FCC658;
}

.viz-05-18 {
    fill: #A0B4D8;
}

.viz-05-19 {
    fill: #F08666;
}

.viz-05-20 {
    fill: #97AF6E;
}

.viz-05-21 {
    fill: none;
    stroke: #D9D9D9;
}

.viz-05-22 {
    fill: none;
    stroke: #D9D9D9;
    stroke-dasharray: 2;
}

.viz-05-23 {
    fill: #F08666;
    fill-opacity: 0.5;
    stroke: #F08666;
    stroke-width: 0.5;
}

.viz-05-24 {
    fill: #F08666;
    fill-opacity: 0.3;
    stroke: #F08666;
    stroke-width: 0.5;
}

.viz-05-25 {
    clip-path: url(#SVGID_4_);
    fill: none;
    stroke: #F08666;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-26 {
    clip-path: url(#SVGID_6_);
    fill: none;
    stroke: #F08666;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-27 {
    fill: #A0B4D8;
    fill-opacity: 0.5;
    stroke: #A0B4D8;
    stroke-width: 0.5;
}

.viz-05-28 {
    fill: #A0B4D8;
    fill-opacity: 0.3;
    stroke: #A0B4D8;
    stroke-width: 0.5;
}

.viz-05-29 {
    clip-path: url(#SVGID_8_);
    fill: none;
    stroke: #A0B4D8;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-30 {
    clip-path: url(#SVGID_10_);
    fill: none;
    stroke: #A0B4D8;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-31 {
    clip-path: url(#SVGID_12_);
    fill: none;
    stroke: #A0B4D8;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-32 {
    clip-path: url(#SVGID_14_);
    fill: none;
    stroke: #A0B4D8;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-33 {
    fill: #4171A3;
    fill-opacity: 0.5;
    stroke: #4171A3;
    stroke-width: 0.5;
}

.viz-05-34 {
    fill: #4171A3;
    fill-opacity: 0.3;
    stroke: #4171A3;
    stroke-width: 0.5;
}

.viz-05-35 {
    clip-path: url(#SVGID_16_);
    fill: none;
    stroke: #4171A3;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-36 {
    clip-path: url(#SVGID_18_);
    fill: none;
    stroke: #4171A3;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-37 {
    clip-path: url(#SVGID_20_);
    fill: none;
    stroke: #4171A3;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-38 {
    clip-path: url(#SVGID_22_);
    fill: none;
    stroke: #4171A3;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-39 {
    clip-path: url(#SVGID_24_);
    fill: none;
    stroke: #4171A3;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-40 {
    clip-path: url(#SVGID_26_);
    fill: none;
    stroke: #4171A3;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-41 {
    clip-path: url(#SVGID_28_);
    fill: none;
    stroke: #4171A3;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-42 {
    clip-path: url(#SVGID_30_);
    fill: none;
    stroke: #4171A3;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-43 {
    fill: #FCC658;
    fill-opacity: 0.5;
    stroke: #FCC658;
    stroke-width: 0.5;
}

.viz-05-44 {
    fill: #FCC658;
    fill-opacity: 0.3;
    stroke: #FCC658;
    stroke-width: 0.5;
}

.viz-05-45 {
    clip-path: url(#SVGID_32_);
    fill: none;
    stroke: #FCC658;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-46 {
    clip-path: url(#SVGID_34_);
    fill: none;
    stroke: #FCC658;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-47 {
    clip-path: url(#SVGID_36_);
    fill: none;
    stroke: #FCC658;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-48 {
    clip-path: url(#SVGID_38_);
    fill: none;
    stroke: #FCC658;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-49 {
    fill: #97AF6E;
    fill-opacity: 0.5;
    stroke: #97AF6E;
    stroke-width: 0.5;
}

.viz-05-50 {
    fill: #97AF6E;
    fill-opacity: 0.3;
    stroke: #97AF6E;
    stroke-width: 0.5;
}

.viz-05-51 {
    clip-path: url(#SVGID_40_);
    fill: none;
    stroke: #97AF6E;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-52 {
    clip-path: url(#SVGID_42_);
    fill: none;
    stroke: #97AF6E;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-53 {
    clip-path: url(#SVGID_44_);
    fill: none;
    stroke: #97AF6E;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-54 {
    clip-path: url(#SVGID_46_);
    fill: none;
    stroke: #97AF6E;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-55 {
    clip-path: url(#SVGID_48_);
    fill: none;
    stroke: #97AF6E;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-56 {
    font-size: 12px;
}

.viz-05-57 {
    fill: #CD5156;
    fill-opacity: 0.3;
    stroke: #CD5156;
    stroke-width: 0.5;
}

.viz-05-58 {
    clip-path: url(#SVGID_50_);
    fill: none;
    stroke: #CD5156;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.viz-05-59 {
    fill: #CD5156;
    fill-opacity: 0.5;
    stroke: #CD5156;
    stroke-width: 0.5;
}
